<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="elizabethcornejo@liceovvh.cl" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Dashboard</title>
</head>
<body>
    <title>Tabla Usuarios</title>
    
    <table>
    <tr>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Tipo Usuario</th>
        <th>Acciones</th>
    </tr>
    <tr>
        <td>Patricia</td>
        <td>patricia@codingdojo.com</td>
        <td>Admin</td>
        <td class="acciones">
        <a href="mensajes.html"><i class="fa-regular fa-envelope"></i></a>
        </td>
    </tr>

    <tr>
        <td>Andrea</td>
        <td>andrea@codingdojo.com</td>
        <td>Usuario</td>
        <td class="acciones">
        <i class="fa-regular fa-envelope"></i>
        </td>
    </tr>

    <tr>
        <td>Katya</td>
        <td>katya@codingdojo.com</td>
        <td>Usuario</td>
        <td class="acciones">
        <i class="fa-regular fa-envelope"></i>
        </td>
    </tr>
    </table>
</body>
</html>
